.toolbar {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  padding: 0 16px;
}

.custom-button {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.button-text {
  margin-right: 8px;
}

.button-icon {
  margin-left: 4px;
}

/* Estilo global para toda la aplicación */
:host {
  display: block;
  background-color: #f0f0f0; /* Gris claro (#f0f0f0) o cualquier otro color gris que prefieras */
}
