/* Estilos para el mat-toolbar */
.mat-toolbar {
  background-color: #1976d2; /* Azul claro */
  color: #fff; /* Texto en blanco */
}

/* Estilos para el mat-sidenav */
.mat-sidenav {
  background-color: #4caf50; /* Verde */
  color: #fff; /* Texto en blanco */
}

/* Estilos para el fondo de la app */
body {
  background-color: #f5f5f5; /* Gris claro */
}


.full-height-container {
  height: 100vh;
}

.menu-button {
  display: block;
  text-align: left;
  width: 100%;
}

.logout-button {
  margin-top: auto;
}
