<ng-container *ngIf="authService.isAuthenticated(); else loginTemplate">
      <!-- Barra de navegación -->
      <mat-toolbar color="primary">
        <!-- Título de la barra de navegación -->
        <span>Prueba Onyx Front-end</span>

        <span class="example-spacer"></span>

        <!-- Botón "Home" -->
        <button mat-icon-button (click)="goToDashboard()" matTooltip="Inicio">
          <mat-icon>home</mat-icon>
        </button>

        <!-- Botón "Añadir" -->
        <button mat-icon-button (click)="goToAddBookForm()" matTooltip="Añadir libro">
          <mat-icon>add_circle</mat-icon>
        </button>

        <!-- Botón "Perfil" -->
        <button mat-icon-button (click)="userProfile()" matTooltip="Perfil">
          <mat-icon>person</mat-icon>
        </button>

        <!-- Botón "Salir Sesión" -->
        <button mat-icon-button (click)="logout()" matTooltip="Salir">
          <mat-icon>logout</mat-icon>
        </button>

      </mat-toolbar>

      <!-- Contenido principal de la aplicación -->
      <router-outlet></router-outlet>

</ng-container>

<ng-template #loginTemplate>
  <app-login></app-login>
</ng-template>
