<ng-container *ngIf="authService.isAuthenticated(); else loginTemplate">
  <mat-sidenav-container>
    <!-- Menú lateral -->
    <mat-sidenav #sidenav mode="side" opened="false">
      <!-- Contenido del menú -->
      <mat-nav-list>
        <!-- Botón "Home" -->
        <button mat-icon-button (click)="goToDashboard()">
          <mat-icon>home</mat-icon>
        </button>

        <!-- Botón "Añadir" -->
        <button mat-icon-button (click)="goToAddBookForm()">
          <mat-icon>add_circle</mat-icon>
        </button>

        <!-- Botón "Salir Sesión" -->
        <button mat-button (click)="logout()">Salir Sesión</button>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <!-- Barra de navegación -->
      <mat-toolbar color="primary">
        <!-- Botón de menú -->
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>

        <!-- Título de la barra de navegación -->
        <span>Nombre de la Aplicación</span>
      </mat-toolbar>

      <!-- Contenido principal de la aplicación -->
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</ng-container>

<ng-template #loginTemplate>
  <app-login></app-login>
</ng-template>
