<div class="container">
  <h2>Perfil de Usuario</h2>

  <form [formGroup]="userForm" (ngSubmit)="updateUser()">
    <div class="form-group">
      <mat-form-field>
        <mat-label>Nombre</mat-label>
        <input matInput type="text" id="name" formControlName="name" required>
        <mat-error *ngIf="userForm.get('name')?.invalid && userForm.get('name')?.touched">
          <!-- Mostrar mensaje de error si el campo es inválido y ha sido tocado -->
          Nombre es requerido
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field>
        <mat-label>Nombre de usuario</mat-label>
        <input matInput type="text" id="username" formControlName="username" required>
        <mat-error *ngIf="userForm.get('username')?.invalid && userForm.get('username')?.touched">
          <!-- Mostrar mensaje de error si el campo es inválido y ha sido tocado -->
          Nombre de usuario es requerido
        </mat-error>
      </mat-form-field>
    </div>

    <!-- Agrega el campo de contraseña -->
    <div class="form-group">
      <mat-form-field>
        <mat-label>Contraseña</mat-label>
        <input matInput type="password" id="password" formControlName="password" required>
        <mat-error *ngIf="userForm.get('password')?.invalid && userForm.get('password')?.touched">
          <!-- Mostrar mensaje de error si el campo es inválido y ha sido tocado -->
          Contraseña es requerida
        </mat-error>
      </mat-form-field>
    </div>

    <!-- Agrega otros campos del usuario según tus necesidades -->

    <button mat-button type="submit" [disabled]="userForm.invalid">Actualizar</button>
  </form>
</div>
